._s-dialog * {
  box-sizing: border-box;
}
._s-dialog {
  width: 500px;
  height: auto;
  box-sizing: border-box;
  box-shadow: 0 5px 30px 0 rgb(0 0 0 / 40%);
  border-radius: 4px;
  background-color: #fff;
  overflow: hidden;
  color: #303133;
  position: absolute;
  top: 20%;
  left: 20%;
  z-index: 9999;
}
._s-dialog_header {
  height: 46px;
  color: #333;
  font-weight: 600;
  cursor: move;
  padding: 12px 14px;
  background-color: #409eff;
  color: #fff;
  border-bottom: 1px solid #ebeef5;
  box-sizing: border-box;
}
._s-dialog_body {
  height: calc(100% - 46px - 60px);
  padding: 14px;
  overflow-y: auto;
  background-color: #fefefe;
}
._s-dialog_footer {
  text-align: right;
  border-top: 1px solid #ebeef5;
  height: 60px;
  padding: 12px 14px;
}
._s-button {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 32px;
  height: 32px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  padding: 4px 15px;
  border-radius: 5px;
}
._s-btn-primary {
  color: #fff;
  border-color: #409eff;
  background-color: #409eff;
  outline: none;
}
._s-btn-primary:hover {
  border-color: #79bbff;
  background-color: #79bbff;
}
._s-btn-danger {
  color: #fff;
  border-color: #ff0000;
  background-color: #ff0000;
  outline: none;
}
._s-btn-danger:hover {
  border-color: #ff7676;
  background-color: #ff7676;
}
._s-btn-success {
  color: #fff;
  border-color: #67c23a;
  background-color: #67c23a;
  outline: none;
}
._s-btn-success:hover {
  border-color: #85ce61;
  background-color: #85ce61;
}
._s-hover {
  position: relative;
  overflow: hidden;
}
._s-hover::before {
  content: " ";
  display: block;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  color: #303133;
  box-sizing: border-box;
  border: 1px solid #999;
  background-color: rgba(103, 179, 255, 0.4);
  z-index: 999;
}
._s-form {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
._s-form-label {
  width: 100px;
  height: 100%;
  text-align: right;
  display: inline-block;
  padding-right: 10px;
}
._s-form-item {
  min-height: 38px;
  line-height: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
}
._s-form-input {
  display: inline-block;
  width: calc(100% - 160px);
  height: 26px;
  line-height: 1;
  border: 1px solid #ebeef5;
  border-radius: 5px;
}
._s-form-input:hover {
  border: 1px solid #00aaff;
}
._s-input {
  width: 100%;
  height: 100%;
  padding: 1px 5px;
  border: 0px solid #fff;
  outline: none;
}
._s-form-textarea {
  display: inline-flex;
  width: calc(100% - 160px);
  min-height: 26px;
  max-height: 100px;
  line-height: 1;
  overflow: hidden;
  border: 1px solid #ebeef5;
  border-radius: 5px;
}
._s-form-textarea:hover {
  border: 1px solid #00aaff;
}
._s-textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px;
  resize: vertical;
}
