.app {
  width: 420px;
  height: auto;
  min-height: 400px;
  padding: 10px;
  border-radius: 5px;
}
textarea {
  width: 260px;
  height: 40px;
  resize: vertical;
}
input {
  width: 260px;
}
#currentURL {
  text-align: center;
}
.form {
  text-align: center;
  margin-bottom: 10px;
}
.form .row {
  padding-left: 20px;
  padding-right: 20px;
  justify-content: flex-end;
}
.row {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  justify-content: center;
}
.btn {
  margin-top: 10px;
  text-align: center;
}
.el-btn-primary {
  color: #fff;
  border-color: #409eff;
  background-color: #409eff;
  outline: none;
}
.el-btn-primary:hover {
  border-color: #79bbff;
  background-color: #79bbff;
}
.el-btn-success {
  color: #fff;
  border-color: #67c23a;
  background-color: #67c23a;
  outline: none;
}
.el-btn-success:hover {
  border-color: #95d475;
  background-color: #95d475;
}
.el-btn {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  height: 28px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  padding: 4px 15px;
  border-radius: 5px;
}
.el-btn-danger {
  color: #fff;
  border-color: #f56c6c;
  background-color: #f56c6c;
  outline: none;
}
.el-btn-danger:hover {
  border-color: #f89898;
  background-color: #f89898;
}
/* .label {
} */
.separate {
  width: 100%;
  height: 1px;
  background-color: #dadada;
  display: inline-block;
}
