.app {
  width: 420px;
  height: auto;
  min-height: 560px;
  padding: 10px;
  border-radius: 5px;
}

#currentURL {
  text-align: center;
}
.btn {
  margin-top: 10px;
  text-align: center;
}
.el-btn-primary {
  color: #fff;
  border-color: #409eff;
  background-color: #409eff;
  outline: none;
}
.el-btn-primary:hover {
  border-color: #79bbff;
  background-color: #79bbff;
}
.el-btn-success {
  color: #fff;
  border-color: #67c23a;
  background-color: #67c23a;
  outline: none;
}
.el-btn-success:hover {
  border-color: #95d475;
  background-color: #95d475;
}
.el-btn-danger {
  color: #fff;
  border-color: #f56c6c;
  background-color: #f56c6c;
  outline: none;
}
.el-btn-danger:hover {
  border-color: #f89898;
  background-color: #f89898;
}
.el-btn {
  margin-left: 5px;
  margin-right: 5px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  line-height: 28px;
  height: 28px;
  white-space: nowrap;
  cursor: pointer;
  text-align: center;
  box-sizing: border-box;
  outline: none;
  transition: 0.1s;
  user-select: none;
  vertical-align: middle;
  -webkit-appearance: none;
  padding: 4px 15px;
  border-radius: 5px;
}
/* .label {
} */
.separate {
  width: 100%;
  height: 1px;
  background-color: #dadada;
  display: inline-block;
}
/**form*/
.form * {
  box-sizing: border-box;
}
.form {
  width: 100%;
  height: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}
.form-label {
  min-width: 100px;
  height: 100%;
  text-align: right;
  display: inline-block;
  padding-right: 10px;
}
.form-interval {
  width: auto;
  display: inline-block;
  text-align: center;
  min-width: 60px;
}
.form-item {
  min-height: 38px;
  line-height: 38px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.form-input {
  display: inline-block;
  width: calc(100% - 170px);
  height: 26px;
  line-height: 1;
  border: 1px solid #dadada;
  border-radius: 5px;
  overflow: hidden;
}
.form-input:hover {
  border: 1px solid #00aaff;
}
.form-textarea {
  display: inline-flex;
  width: calc(100% - 160px);
  min-height: 26px;
  max-height: 140px;
  line-height: 1;
  overflow: hidden;
  border: 1px solid #dadada;
  border-radius: 5px;
  /* resize: vertical; */
}
.form-textarea:hover {
  border: 1px solid #00aaff;
}
input {
  width: 100%;
  height: 100%;
  padding: 1px 5px;
  border: 0px solid #fff;
  outline: none;
}
textarea {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 5px;
  resize: vertical;
}
