html,
body {
  background-image: none !important;
  background-color: var(--shield-bg-color) !important;
}
body * {
  background-image: none !important;
  background-color: var(--shield-bg-color) !important;
  color: #4d4d4d !important;
  border-color: #ccccd8 !important;
}
body *::after {
  background: var(--shield-bg-color) !important;
  background-color: var(--shield-bg-color) !important;
}
body *::before {
  background: var(--shield-bg-color) !important;
  background-color: var(--shield-bg-color) !important;
}
img,
video {
  /* display: none !important; */
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  overflow: hidden;
  opacity: 0;
}
svg,
g,
circle,
path {
  fill: #999 !important;
}
/**csdn*/
button[id*='search'] {
  border: 1px solid #ccccd8 !important;
  box-sizing: border-box !important;
  overflow: hidden !important;
}
